.task {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

    padding: 1rem;

    border: 1px solid #333333;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    border-radius: 0.5rem;

    background: var(--gray-500);
}

.taskText {
    width: 80%;
}

.task button {
    background: transparent;
    color: var(--gray-300);
    box-sizing: initial;
    
    padding: 0.3rem;
    border-radius: 4px;
    
    border: 0;
    line-height: 0;
    box-shadow: none;

    transition: background-color 0.1s;
    cursor: pointer;
}

.task button:hover {
    background: var(--gray-400);
    color: var(--danger);
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
    filter: brightness(0.2);
}

input[type='checkbox']:checked {
    filter: none;
    accent-color: var(--purple-dark);
}

input[type='checkbox']:checked+.taskText {
    text-decoration: line-through;
}